@import '/src/styles.scss';


.game-card {
  width: 270px;
  min-height: 312px;
  box-shadow: 0px 4px 8px 4px rgba(34, 60, 80, 0.2);
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.game-card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 150px;
  background-color: $color-product-card;
  padding: 8px;
  color: $color-white;
  font-size: $FS24;
  border-radius: 4px 4px 0 0;
  background-size: cover;
  background-position: center center;
}
.game-card-title, .game-card-price{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.game-card-price {
  align-self: flex-end;
}

.game-card-body {
  padding: 16px;
  border-radius: 0 0 4px 4px;
  word-wrap: break-word;
}

.card-body-btn {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-radius: 4px;
  color: $color-white;
  cursor: pointer;

  &__add {
    background-color: $color-accent;
  }

  &__remove {
    background-color: $color-warn;
    &:hover {
      background-color: darken($color-warn, 15%);
    }
  }
}
