<div class="container">
  <div class="form-search">
    <h1>Friends</h1>
    <input class="inputFriends" type="text" (input)="addText($event)" />
    <button class="searchFriendsBtn" type="submit">Search</button>
  </div>

  <div class="results">
    <ul>
      <h2>
        Search friends:<span>{{ InputText }}</span>
      </h2>
      <li>
        <div class="user"><p>Olga Smith</p></div>
        <button class="addFriend">Add Friend</button>
      </li>

      <li>
        <div class="user"><p>Olga Smith</p></div>

        <button class="removeFriend">Remove Friend</button>
      </li>
    </ul>
  </div>
</div>
