<button (click)="getGames()"> Get values</button>
<div class="container">
  <h2>Games</h2>
  <span>Search Games</span>
  <div class="form-search">
    <input class="inputGames" type="text" placeholder="Search Games" id="searchQuery" #searchTitle/>
    <button class="searchGamesBtn" type="submit" (click)="renderGames(searchTitle.value)">Search</button>
  </div>
  <h3>Price</h3> 
  <input type="range" min="0" [max]="maxPrice" step="1" [(ngModel)]="searchPrice" >
  <span>{{searchPrice}}</span>
  <h2>Featured games</h2>
  <div  class="games-container">
    <app-game [game]="game" *ngFor="let game of games | gamesFilter: searchQueryObj"></app-game>
  </div>
</div>

